/* CSS Document */
body, ul, li,div, h1, header, p{ margin:0; padding:0}
ul, li{ list-style:none}
a{ text-decoration:none; color:black}
h6{font-size:2rem;color: #291677;}

/*공통 클래스*/
.blind{ display:none !important}
.clear{ clear:both;}
.ofh{overflow: hidden;}
.container{ max-width:1200px; width:100% ; margin:0 auto;}
.tac{ text-align: center;}
#hd{text-align: center;}
#hd a{ display:inline-block; *display: block; zoom:1}
/*top1*/
#hd .top1 { position:relative}
#hd .top1 h1{float: left; padding-top: 12px; left: 17%; position:relative; }
#hd .top1 h1 a{ display:block;}
#hd .top1 h1 a img{}


#util{position: absolute; top: 50%; left: 50%; transform: translate(12%,-131%);}
#util:after{ content:""; display:block; clear:both}
 #util li{ float:left; position:relative;  }
#util li + li{ border-left: 1px solid black}
 #util li:last-child{ border-left:none }
 #util li a{display: block; font-size:17px;padding:0 20px; font-weight:bold ; line-height:100%;}
#util li input[type="search"]{ border:3px solid #333366; width:180px; height:30px;border-radius: 25px;
text-indent: 15px;}
#util li button{ width:25px; height:25px; background:url(http://hongduck710.cafe24.com/bookclover/img/search.png) no-repeat;
 background-size:25px 25px;}
#util li .lang{ height:0; overflow:hidden; transition:0.5s; position:absolute;}
#util li:hover .lang{ height:180px;} 
#util li .lang a{ display:block; font-size:14px;} 
#util li .lang a:first-child{ margin-top:10px;}
#util li .lang a:last-child{ margin-bottom:10px;}
#hd  #topSNS{ position:absolute; top:50%; left:50%; transform: translate(250%,12%);}
#hd  #topSNS li{ float:left;margin:0 auto; text-align:center; margin:0 3px;}
#hd #topSNS li a{font-size:11px; display:block;}
#hd #topSNS li a img{ display:block;}
#hd .top1:after{ content:""; display:block; clear:both;}


/*네비*/   
#gnb{ display: table; position: relative; z-index: 10; margin: 0 auto; top:74px;}
#gnb li{}
/*대메뉴*/
#gnb:after{content:""; display:block; clear:both}
#gnb > li{ position:relative; display:table-cell;}
#gnb a.d1{ padding:0 35px; line-height:180%; font-size:1.5em; font-weight:bold;}
#gnb > li:hover a.d1{ color:#245ee2}
#gnb > li a.d1:after{content:""; display:block; width:0; height:3px; background-color:#245ee2; margin:0 auto; transition:0.5s;}
#gnb > li:hover a.d1:after{width:100%;}
#gnb786px{float: right; height: 50px; width: 50px;background-color: yellow; display: none;}

@media (max-width: 1500px) {
#hd .top1 #util{ position:absolute; top:30%; left:40%; transform: translate(130px,-50%);margin-top: 15px; }
#hd .top1 #util li a{ font-size:15px;}
}	
@media (max-width: 786px) {
	#hd .top1 #util{ transform: translate(33px,-50%); margin-top: 0;}
	#hd .top1 #util > li.search input[type="search"]{margin-top: 0.5rem;width: 140px; }
	#gnb {display: none;}
	#gnb786px{display: block; margin: 3rem 2rem 0 2rem; position: relative;}
	#gnb786px ul.d2786px{position: absolute;height: 0;  width: 200px; background-color: pink;right: 0;top: 50px;z-index: 10000;
	overflow: hidden; transition: 0.3s;}
	#gnb786px ul.d2786px.act{height: 500px;}
	#gnb786px span{display: block; height: 8px; width: 40px;
	background-color: #000; margin:0.4rem auto; line-height: 100%;
	border-radius: 10px;}

/*소메뉴*/
#gnb ul.d2 { position:absolute; width:100%;  height:0; overflow:hidden; transition:0.5s; z-index:10;}
/*height가 0이어도 overflow: hidden이 없으면 소메뉴가 숨겨지지 않음*/
#gnb:hover ul.d2{height:150px;}
#gnb ul.d2 li{ border-radius:8px; transition:0.3s;}
#gnb ul.d2 li:hover{ background-color:#e9ddf8;}
#gnb ul.d2 li a{ padding:7px; font-size:20px; line-height:120%; font-weight:bold}
#gnb ul.d2 li:hover a{ }
#gnb + .bg{ position:absolute; width:100%; height:0;   background-color:#ccccff80; transition:0.5s;z-index:9;border-top:1px solid #ccc;
top:100%;}
#gnb:hover + .bg{ height:160px;}



/*박스 슬라이더*/
#sliderWrap{ max-width:1920px; width: 100%; margin:0 auto; position:relative; overflow:hidden; }
#sliderWrap ul{width:100000px; }
#sliderWrap ul li{ float:left; position:relative; max-width:1920px; width:100%;background-image: linear-gradient(to right, #245ee2, #5cb5dc); height:600px; }
#sliderWrap ul li a{display: block; width:100%; height:100%; }
#sliderWrap ul li a .img.slimg1{    display: block; }
#sliderWrap ul li a img.slimg2{display: block; top: 50%; left: 50%;
transform: translate(-700px,-50%); position:absolute;}
#sliderWrap ul li a img.slimg3{ display:inline-block;}
#sliderWrap ul li a img.slimg4{ position:absolute; display:block; top:50%; left:50%; transform:translate(-111%,-50%);}
#sliderWrap ul li a img.slimg44{ position:absolute; display:block; top:50%; left:50%; transform:translate(-211%,-50%);}
#sliderWrap ul li a img.slimg5{ position:absolute; display:block; left:7%;}
#sliderWrap ul li a img{ max-width:100%; max-height:auto;}
#sliderWrap ul li a span[class^='intro']{ position:absolute;top: 50%; left:50%; transform:translate(-50%,-50%);font-size:3vw; display:block; text-align:center;
line-height:100px; font-weight:bold; color:white;text-shadow: 4px 2px black;}
#sliderWrap ul li a span.intro1{ transform: translate(39%,-125%)}
 #sliderWrap ul li a span.intro2{  transform: translate(17%,-125%);  }
 #sliderWrap ul li a span.intro3{ transform:translate(45%,-124%);   }
  #sliderWrap ul li a span.intro4{transform: translate(8%,-124%); }
  #sliderWrap ul li a span.intro5{ transform: translate(31%,-124%);}
#sliderWrap ul li a .DCbanner{position: absolute; top:50%; left:50%; transform: translate(70%,-15%); background-color:#70f8d6; display:block; padding: 22px 75px; border-radius: 30px 30px; box-shadow: 15px 15px 20px #181616; }
/*슬라이더 안에서 텍스트 위치이동 시킬경우 마진으로 하면 다른 곳에서 안보이는 수 있음. 그러므로 
포지션 앱솔루트값 넣고 부모인 li에 relative를 넣은 다음  bottom,  left값을 주고 transform으로 위치이동*/
#sliderWrap ul li a .Arrow { font-size:3em; color: white; position:relative; top:50%; left:50%; transform: translate(143%,194%); display:block; text-shadow: 3px 2px 3px black }
#sliderWrap ul li a span.intro strong{ display:block;text-align:center;font-size:3vw; }
#sliderWrap ul li a .DCbanner p{color: white; font-size:2.3vw; text-shadow: 2px 2px 2px black; }

#btns{ position:absolute; height:0; top:50%; width:calc(100% - 10px); left:0; right:0; margin: auto; border:none
;}

#btns button{  background:none; font-size:100px; padding: 5px 10px; transform:translateY(-50%); border:none;color:#cccccc80;}
#btns button:hover{ color:#C9F;}
#btns button.left{ float: left}
#btns button.right{ float:right}


#catalog #books{ width:100%;max-width:1200px; margin:0 auto; overflow:hidden; box-sizing:border-box; }
#catalog #books h1{font-size:40px; margin: 30px 0; color: #291677;}
#catalog #books ul{float:left; }
#catalog #books ul:after{content:""; display:block; clear:both}
#catalog #books ul.UXUI{  }
#catalog #books ul.recomendation{}

#catalog #books ul li{float: left; box-sizing:border-box;border:2px solid #ccc;}
#catalog #books ul.UXUI li + li{ border-left:none;}
#catalog #books ul li a{display: block; text-align:center}
#catalog #books ul li a img{display: block}

@media (max-width: 786px) {
	
}
@media (max-width:480px) {

}

#recommendation{ width: 1200px; margin:20px auto;  }
#recommendation h1{font-size:40px; margin: 30px 0; color: #291677;}
#recommendation:after{ content:""; display:block; clear:both;}
#recommendation ul.reco{ }
#recommendation ul.reco li{float:left; height:300px;width:20%; position:relative;
background-color:#a5dac3; border:10px solid white; box-sizing:border-box; overflow:hidden;}

#recommendation ul.reco li a{ display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);   }
#recommendation ul.reco li:hover a img{ transform:scale(1.1)}
#recommendation ul.reco li a img{ display:block; transition:0.5s; }
@media (max-width: 786px) {
#recommendation ul.reco li:nth-child(4){clear: both;}	
#recommendation ul.reco li:nth-child(7){clear: both;}	
#recommendation ul.reco li:nth-child(10){clear: both;}	
}
@media (max-width:480px) {
	#recommendation ul.reco{}
	#recommendation ul.reco li{border:2px solid white;}
	#recommendation ul.reco li:nth-child(4){clear: none;}
	#recommendation ul.reco li:nth-child(7){clear: none;}
	#recommendation ul.reco li:nth-child(10){clear: none;}
	#recommendation ul.reco li:nth-child(odd){clear: both;}
}

#tabBox{ width:1200px; margin:20px auto;  height:600px; }
#tabBox h3{font-size:40px; margin: 30px 0; color: #291677;}
#tabBox ul{ position:relative; display:block;}
#tabBox ul li{ border:1px solid #92610c; width:20%; background-color:white; border-radius: 10px 10px 0 0;}
#tabBox ul li + li{ border-left:none;}
#tabBox ul li.on{border-bottom: 1px solid #d2bdbd; background-color:#d2bdbd; }
#tabBox ul li .tabcon{  padding:30px 0; width:100%;  position:absolute; left:0; top:32px; background-color:#d2bdbd; height:500px;
border:1px solid #92610c ; border-top:none; border-radius: 0 0 20px 20px; /*overflow-y:auto;*/}
#tabBox ul li .tabcon:after{ content:""; display:block; height:1px; width:76px; background-color:#92610c; position:absolute; top:-1px; right:0;}
#tabBox ul li.on .tabcon{ z-index:99}
#tabBox ul li .tabcon a{ float:left; margin: 15px 20px; display:block;}
#tabBox ul li .tabcon a span{ text-align:center; display:block; font-weight:bold;}
#tabBox ul li .tabcon a img{}
#tabBox ul li a.tab{  display:block; font-size:20px; line-height:30px; height:30px;text-align: center; font-weight: bold; }
#tabBox ul li a.tab.on{ z-index:100;  }

#tabBox ul li a.tab:after{ content:""; display:block; clear:both;}

#tabBox li{ float:left; padding:0 20px;}


#board{ max-width:1200px; margin:120px auto;width: 100%;}
#board .notice{ float:left; width:50%; background-color:#a1d6ff; padding:15px;}
#board dl.ARS{ float:left; width:20%; border:5px solid #efce82; padding:15px; text-align:center;
background-color: moccasin; box-sizing:border-box;}
.ARS dt{ font-size:1.75rem; margin-top:5px 0; color: #222;}
.ARS dd{  font-size:1rem; margin-bottom:5px; font-weight:bold; color:#3e0202;}
#board  .clReview{ width:25%; float:left;display:block;}
#board .clReview a{ display:block; text-align: center; font-size: 20px; font-weight: bold; }
#board .clReview a span{ padding:50px 0; font-size:25px; line-height:100%;}
#board .clReview a img{ width:100%;}
#board h3{ font-size:30px;}
#board ul{ margin-top:15px;}
#board li{ margin-bottom:5px; margin-left:35px; }
#board li a{ font-size:20px;}

@media (max-width:786px) {
	#board .notice{width: 100%;}
	#board  .clReview{width: 50%;}
	#board dl.ARS{width: 35%;}
}
@media (max-width:480px) {
	#board .notice{width: 100%;}
	#board  .clReview{width: 50%;}
	#board dl.ARS{width: 45%; }	
	#board dl.ARS dt{font-size:1.5rem; }
}
/* 지도, 오시는 길 */
#map{width: 100%;}
#map:after{ content:""; display:block; clear:both;}
#map h3{ font-size:40px; margin-bottom: 30px; color: #291677;}
#map .mapwrap{ width: 50%;float: left;}
#map .direction{width: 50%;float: left; padding: 2rem; box-sizing: border-box;}
#map .direction h6{margin-bottom: 1rem;}
#map .direction ul{float: left;}
#map .direction ul li{font-size: 1.5rem; color: #000;margin-bottom:0.75rem; line-height: 150%;}
#map .direction ul li span{display: block; font-size: 1.25rem;margin-left: 2rem;} 
#map .direction ul li:before{content: "※"; color: #291677; margin-right: 1rem;}

@media (max-width:786px) {
#map .direction{clear: both; width: 100%;}
}
@media (max-width:480px) {
	#map .mapwrap{ width:100%;}
	#map .mapwrap iframe{max-width: 480px;}
	#map h3{ font-size:1.5rem;}
}


/* 인포메이션 */
.infowrap{}
.infowrap:after{content: ""; display: block; clear: both;}
#infoBox{box-sizing: border-box;}
#infoBox:after{content: ""; display: block; clear: both;}
#infoBox .about{float: left; width: 25%;box-sizing: border-box; padding: 1rem;}
#infoBox .about h6{border-bottom: 2px solid #291677; line-height: 4rem;
font-weight: bold;}
#infoBox .about p{font-size:1rem;color: #291677; font-weight: bold; line-height: 1.6rem;margin: 1.1rem 0;
}

#infoBox form.mailing{float: left; width: 25%; padding: 1rem; 
	border-radius: 40px;box-sizing: border-box;}
#infoBox form.mailing h6{font-size:2rem;color: #291677; border-bottom: 2px solid #291677;
line-height: 4rem;}
#infoBox form.mailing p{font-size:1rem;color: #291677; font-weight: bold; line-height: 2rem;}
#infoBox form.mailing input[type="text"]{border: none; border: 1px solid #ccc; width: 100%; height: 2.2rem;
	margin: 0.5rem 1rem 0.5rem 0;}
#infoBox form.mailing input[type="submit"]{background-color: #b6e352; padding: 4% 7%; border-radius: 40px;	font-size: 1.6rem; border: none; color:#222; font-weight: bold;}

#infoBox .appDownload{ margin:0 auto;width: 25%; float: left; padding: 1rem;box-sizing: border-box;}
#infoBox .appDownload p{font-size:1.2rem;color: #291677; font-weight: bold; line-height: 2rem; border-bottom: 2px solid #291677;}
#infoBox .appDownload a{display: block; margin: 2% 0;}
#infoBox .appDownload a img{width: 100%;}

#infoBox .youtube{ width: 25%; float: left; box-sizing: border-box; padding: 1rem;}
#infoBox .youtube p{font-size:1.2rem;color: #291677; font-weight: bold; line-height: 2rem;
border-bottom: 2px solid #291677;}
#infoBox .youtube iframe{margin: 17% 0; width: 100%;}

@media (max-width: 786px) {
	#infoBox .about{width: 50%;}
	#infoBox form.mailing{width: 50%; }
	#infoBox .appDownload{width: 50%;clear: both; }
	#infoBox .youtube{width: 50%; }
	}
@media (max-width:480px) {
	#infoBox .about{width: 100%; clear: both;}
	#infoBox form.mailing{width: 100%; clear: both;}
	#infoBox .appDownload{width: 100%; clear: both;}
	#infoBox .appDownload:after{display: block; content: ""; clear: both; }
	#infoBox .youtube{width: 100%; clear: both;}	
}	
#bt{  text-align:center; overflow:hidden; position:relative; margin-top: 30px; padding:20px; background-color:#cecef9; width: 100%;}
#bt .bottom1{ position:relative;}
#bt .bottom1 h1{text-align: center; padding:10px; }
/*SNS*/
#bt .bottom1 #bottomSNS{position:absolute; left:50%; top:50%; transform: translate(373px,179%);}
#bt .bottom1 #bottomSNS li{ float:left; margin:0 auto; text-align:center; margin:0 3px;}

#bt .bottom1 #bottomSNS li a{font-size:11px; display:block}
#bt .bottom1 #bottomSNS li a img{display: block; }
/*약관*/
#bt #clause{display: table; margin:0 auto; margin-bottom:25px; }
#bt #clause:after{content:""; display:block; clear:both}
#bt #clause li{ float:left; height:18px; }
#bt #clause li + li{border-left:1px solid black}
#bt #clause li a{ padding:0 20px; line-height:100%; display:block; font-size:1.2rem; font-weight:bold;}
#bt address{text-align: center; overflow:hidden; }

@media (max-width: 786px) {
	#bt .bottom1 #bottomSNS{transform: translateX(102px);}
	
}
@media (max-width:480px) {
	#bt .bottom1 #bottomSNS{transform: translate(-96px,100px);
	}
	#bt #clause li a{font-size:0.75rem;}
	#bt address{margin-top:4rem;}
}
