@import "base.css";

/*  공통 사항 */
@media screen and (max-width:1366px){
	html, body {font-size:15px;}
}
@media screen and (max-width:768px){
	html, body{font-size: 14px;}
}
@media screen and (max-width:480px){
	html, body{font-size: 12px;}	
}
@media screen and (max-width:320px){

}

@keyframes sizeUp{
	0% {transform: scale(1);}
	100% {transform: scale(1.2);}
}
@keyframes sizeDn{
	0% {transform: scale(1.2);}
	100%{ transform: scale(1);}
}

/* Header */
header{width: 100%; position: fixed; box-shadow: 0 4px 4px rgba(0,0,0,.4); font-size: 1rem;
background-color: #fff; z-index: 999; top: 0;}
.logo{float: left;  padding: 1rem 0 1rem 3rem;}
.nav{cursor: pointer;}

/* navigation PC */
.navs{float: right; padding: 1.25rem;}
.navs .nav{float: right; padding: 1rem; font-size:1.2rem;}

/* navigation Mobile */
.navs_mo{float: right; padding: 1rem; display: none;}
.navs_mo_sub{height: 100%; background-color: rgba(0,0,0,.8); position: fixed; z-index: 1000; color: #fff;
font-size: 1rem; display: none;}
.navs_mo_sub > li{padding: 0.75rem; padding-right: 5em;}
.navs_mo_sub > .nav_close{padding: 1.25em; padding-right: 5em;}
.navs_mo_sub > .nav:hover{background-color: beige;
color: #121212;}

/* navigation Response */

@media screen and (max-width:950px){
	.navs .nav{font-size:1rem;}
}
@media screen and (max-width:768px){
	.navs{display: none;}
	.navs_mo{display: block;}
	.navs_mo_sub{display: block;}
}

/* banner PC */
.banner{ position: relative; margin: 2.5rem auto 0 auto;overflow: hidden;}
.banner_wrap{ position: relative; width: 100%;}
.banner_wrap > li{width: 100%; position: absolute;}
.banner_slogan{position: absolute; width: 90%;
left: 12%; top: 50%; color: #222; transform: translateY(-50%); font-size: 1.25rem;}
.banner_slogan > h1{font-size: 4em; margin-bottom: 0.75em;}
.banner_slogan > h4{font-size: 2.25em; margin-bottom: 1em;}
.banner_slogan > button{font-size: 1em; padding: 1em;
background-color: rgba(248, 248, 219, .7); 
border: none; color: 121212;}
.banner_slogan > button:hover{background-color:rgba(248, 248, 219, 1);}
/* horizental only */
.bt_banner{position: absolute; z-index: 11; top: 50%; transform: translateY(-50%); font-size: 3rem; opacity: 0.3;}
.bt_banner:hover{opacity: 0.8;}
#bt_prev{left: 5%;}
#bt_next{right: 5%;}

.social_link{ position: absolute; width: 100%;
bottom: 3%; left: 5%; text-align: left; z-index: 10;}
.social_link > li{ display: inline-block; color: #ccc; cursor: pointer;}
.social_link > li:hover{color: #f1f1f1;}
/* banner Response */
@media screen and (max-width:1366px){
	.banner_slogan{font-size: 1rem;}
}

 @media screen and (max-width:1300px){
	
	.banner_slogan{font-size: 0.8rem;left: 5%;}
} 
@media screen and (max-width:768px){
	.banner{margin: 5rem auto 0 auto;}
	.banner_slogan{font-size: 0.5rem;}
}
@media screen and (max-width:480px){
	.banner{margin: 6rem auto 0 auto;}
	.banner_slogan{font-size: 0.4rem;}
}

/* company PC */
.company{padding: 5rem 0; text-align: center;
	background-color: #e1d6ff;}
.company > h1{ font-weight: bold; letter-spacing: 3px;
margin-bottom: 1rem; font-family: 'Yeon Sung', cursive;
font-size: 3.5rem; color: #000000;}
.company > h4{font-weight: 300;}
.company_features{max-width: 1400px; margin: auto;}
.company_features > li{width: 33.333%; float: left; padding: 1%; margin-top: 3rem; }
.company_feature{font-size: 1rem;}
.company_feature > :nth-child(1){font-size: 7rem; color: #2c68e1;}
.company_feature > :nth-child(2){font-size: 2.7rem;
line-height: 4rem; font-weight: bold; color: #000000;}
.company_feature > :nth-child(3){line-height: 1.75em;
font-size: 1.75rem;}
.company_feature > :nth-child(4){margin: 1rem 0;}
/* company Response */
/* @media screen and (max-width:768px) {
	.company_features > li {width:100%}
}
@media screen and (max-width:480px) {
	.company_features > li {width:100%}
} */

/* design PC */
.design{padding: 5rem 0; font-size: 1rem; background-color: #eee;
position: relative;}
.design > :first-child{float: left; width: 40%; padding: 5% 0 5% 5%;
text-align: center;}
.design h5{font-weight: 400;letter-spacing: 3px;margin-bottom: 1em;
color: #ff7b35; font-size: 1.25rem; text-align: center;}

.design h2{line-height: 2em; margin-bottom: 1.5em;}
.design h2 strong{color: #000000;}

 
.design > :last-child{float: left; width: 50%;margin: 5%; }
.design img{animation-name: sizeDn; animation-duration: 0.1s;
animation-fill-mode: forwards;}
.design img:hover{ animation-name: sizeUp;}
/* Design Response */
@media screen and (max-width:1366px){
	.design h2{font-size: 1.25rem;}
}
@media screen and (max-width:768px) {
	.design > :first-child {width:100%;}
	.design > :last-child {width:100%;}
}
/* Team PC */
.team{padding: 5rem 0;text-align: center;}
.team h2{ letter-spacing: 3px; margin-bottom: 1.5em; text-align: center; font-size: 3rem;
font-weight: 600;}
.team > ul{max-width:1500px; margin: auto;}
.member{width: 24%; margin: 0.5%; float: left; 
box-shadow: 0 0 5px rgba(0,0,0,.3);}
.member:hover{box-shadow: 0 0 30px rgba(0,0,0,.5);
transform: scale(1.01);}
.member > ul{}
.member > ul > li:first-child{overflow: hidden;}
.member > ul > li:first-child > a{display: block;}
.member > ul > li:first-child > a > img{animation-name: sizeDn; animation-duration: 0.7s;
animation-fill-mode:forwards;}
.member > ul > li:not(:first-child){padding: 1rem;}
.member > ul > li:nth-child(2){font-size: 1.75em; line-height: 1em;}
.member > ul > li:nth-child(3){font-size: 1.125em; color:#666;}
.member > ul > li:nth-child(4){line-height: 1.5em;height: 150px; overflow: hidden;}
.member > ul > li:nth-child(5) > button{width: 100%;}


/* Team Response */
@media screen and (max-width:768px){
	.member{width: 48%; margin: 1%;}
}
@media screen and (max-width:480px){
	.member{width: 96%;margin:2%;}
	.member > ul > li:nth-child(4){font-size: 1.25em;}
}

/* partner PC */
.partner{background-color: #555; text-align: center;color: #f8f8f8;}
.partner_wrap{max-width:1200px; margin: auto;}
.partner_wrap > h2{padding: 1em;}
.partner_wrap > ul {width: 100%;float: left; padding: 2%; font-size: 1rem;}

.partner_wrap > ul > li{display: inline-block;}
.partner_wrap > ul > li > img{}
.partner_wrap > ul > li:first-child{font-size: 2em; line-height: 1.5em;}
.partner_wrap > ul > li:last-child{font-size: 1em;}

/* Partner PC */
@media screen and (max-width:768px) {
	.partner_wrap > ul {}
}
@media screen and (max-width:480px) {
	.partner_wrap > :nth-child(3) > li > img{max-width: 100px;}
}

/* works PC */
.works{padding:5rem 0;}
.works h2{font-weight: 200; letter-spacing: 3px; margin-bottom: 1.5em; text-align: center;}
.works h5{line-height: 2em; margin-bottom:1.5em;text-align: center;}
/* flex 용 */
.work_flex{max-width: 1200px; margin: auto; width: 100%;}
.work_flex > ul {display: flex; -ms-display:flex; flex-direction: row; flex-wrap:wrap; -ms-flex-wrap:wrap; justify-content: space-between; -ms-justify-content:space-between;}
.work_flex > ul > li{width: 23%; margin-bottom: 1%;}
/* Masonry 용 */
.work_masonry{max-width: 1200px; margin: auto; width: 100%;}
.grid-sizer, .grid-item{width: 24%; margin: .5%; overflow: hidden; float: left;}
.grid-item > img{animation-name: sizeDn; animation-duration: .5s; animation-fill-mode: forwards;}
.grid-item > img:hover{animation-name: sizeUp;}
/* 2 columns */
/*.grid-item--width2{width:40%;}*/
/* works Response */
@media screen and (max-width:992px){
	.work_float .work{width: 32%; margin: 0.65%;}
	.grid-sizer, .grid-item{width: 32%; margin: 0.65%;}
}
@media screen and (max-width:768px){
	.work_float .work{width: 48%; margin: 1%;}
	.grid-sizer, .grid-item{ width: 48%; margin: 1%;}
}
@media screen and (max-width:480px){
	.work_float .work{width: 96%; margin: 2%;}
	.grid-sizer, .grid-item{width: 96%; margin: 2%;}
}
/* Price PC */
.prices{padding: 5rem 0; background-color: #666;text-align: center;}
.prices h2{font-weight: 200; letter-spacing: 3px; margin-bottom: 1.5em; color: #f1f1f1;}
.prices h3{line-height: 2em; margin-bottom: 4em; color: #f1f1f1;}
.prices > ul {max-width: 1200px; margin: auto;}
.price{width: 32%; float: left; box-shadow: 0 0 1em rgba(0,0,0,0.3);}
.price:hover{box-shadow: 0 0 1em rgba(0,0,0,0.6);}
.price:nth-child(2){margin: 0 2%; transform: translateY(-2em);}
.price > ul > li{padding: 1.25em; border-bottom: 1px solid #ccc; background-color: #f1f1f1; }
.price_tit{font-size: 1.25em; padding: 2rem !important; border-bottom: none !important; background-color: #ff7b35 !important; color: #f1f1f1;}
.price_tit2{font-size: 1.25em; padding: 4rem !important; background-color: #ed6922 !important; border-bottom: none; color: #f1f1f1;}
/* Price Response */
@media screen and (max-width:768px){
	.price{width: 96%; margin: 2%;}
	.price:nth-child(2){margin: 2%; transform: translateY(0);}
}
/* Contact PC */
.contacts{padding: 5rem 0; background-color: #f1f1f1;}
.contacts > h2{font-weight: 200; letter-spacing: 3px; margin-bottom: 1.5em; text-align: center;}
.contacts > h3{line-height: 2em; margin-bottom: 3em; text-align: center;}
.contacts > ul{width: 96%; max-width: 1200px; margin: auto;}
.contacts > ul > li{width: 50%; float: left;}
.contact_info > ul > li{ padding: 0.75em;}
.contact_info span{font-size: 2em; width: 2em;}
.contact_form input{width: 100%; margin: 0.75em 0; padding: 0.5em; }
.contact_form input:nth-child(4){width: 79%; margin: 0.75em 0; padding: 0.5em; }
.contact_form select{width: 20%; padding: 0.5em; margin: 0.75em 0;}
/* Contact response */
@media screen and (max-width:768px){
	.contacts > ul > li{width: 96%; margin: auto;}
}
/* footer PC */
footer{padding: 5rem 0; background-color: #222; text-align: center; color: #eee;}
.footer_social_link{font-size: 1.5em; padding: 1em;}
.footer_social_link > li{ display: inline-block; cursor: pointer;}
.footer_social_link > li:hover{color: #fff;}